.row.mt-5
	.col-4
	.col-8.text-right
		button.btn.btn-danger.jsDel-btnClick(type="button") -
.OdspusList
	input#OdspusFilterAjax(type="hidden", value="/bsOdspusAjax?Order="+Order._id+"@#OdspusElem@bs")
	#OdspusElem.mt-3

script(src="/js/bser/order/Order/detail/Odspus.js")