extends ../../../aalayout/layout

block content
	.container
		if info
			-a;
			.border.p-2.my-3.rounded.text-center.text-warning
				h3 #{info}
				.text-right
					a.btn.btn-default(href="/bsPterns") 确认
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item.active(aria-current="page") #{title}
		.row.my-3
			.col-12.text-right
				button.btn.btn-danger.jsDel-btnClick.mr-5(type="button") -
				a.btn.btn-warning(href="/bsPternAdd") +
		.PtFirmsList
			button.PtFirmClick.btn.mt-3(type="button" data-pdnome="") 供货商选择:
			button.PtFirmClick#PtFirmAll.btn.btn-success.ml-5.mt-3(type="button" data-pdnome="") 全部
			each PtFirm in PtFirms
				-a;
				button.PtFirmClick.btn.btn-default.ml-4.mt-3(type="button" data-pdnome=PtFirm._id) #{PtFirm.code}

		.objectsList
			input#objectFilterAjax(type="hidden", value="/bsPternsAjax?@#objectsElem@bs")
			#objectsElem.mt-5
	script(src="/js/bser/pattern/Ptern/list.js")
	script(src="/js/dbs/pattern/Ptern.js")