extends ../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item.active(aria-current="page") #{title}
		.row.my-3
			.col-12.text-right
				a.btn.btn-warning(href="/bsPdCategAdd") +

		- getUrl = "/bsPdCategUpdAjax";
		each PdCategFir in PdCategFirs
			- object = PdCategFir;
			.row
				.col-6.border.rounded.my-3.p-2
					a.btn.border.border-primary.text-primary(href="/bsPdCateg/"+PdCategFir._id) #{PdCategFir.code}
				if PdCategFir.isBottom == Conf.isBottom.n.num
					-a;
					.col-4.my-3
						a.btn.border.border-primary.text-primary(href="/bsPdCategAdd?PdCategFar="+PdCategFir._id) +
					.col-2.my-3.p-2.text-right 展开
			each PdCategSec in PdCategFir.PdCategSons
				- object = PdCategSec;
				.row
					.col-1
					.col-6.border.rounded.my-3.p-2
						a.btn.border.border-primary.text-primary(href="/bsPdCateg/"+PdCategSec._id) #{PdCategSec.code}
					if PdCategSec.isBottom == Conf.isBottom.n.num
						-a;
						.col-3.my-3
							a.btn.border.border-primary.text-primary(href="/bsPdCategAdd?PdCategFar="+PdCategSec._id) +
						.col-2.my-3.p-2.text-right 展开
				each PdCategThd in PdCategSec.PdCategSons
					- object = PdCategThd;
					.row
						.col-2
						.col-6.border.rounded.my-3.p-2
							a.btn.border.border-primary.text-primary(href="/bsPdCateg/"+PdCategThd._id) #{PdCategThd.code}