extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item.active(aria-current="page") #{title}
		.row.my-3
			.col-12.text-right
				a.btn.btn-warning(href="/bsPdNomeAdd") +

		- getUrl = "/bsPdNomeUpdAjax";
		.row
			each PdNome in PdNomes
				- object = PdNome;
				.col-6.col-lg-3.mt-4
					.card.text-center(style="width: 100%;")
						.card-body
							.code
								- field="code", value=PdNome.code, subid="code";
								include ../../../../aaPlugin/ajaxInputUpd
							.weight.mt-3
								- field="weight", value=PdNome.weight, subid="weight";
								include ../../../../aaPlugin/ajaxInputUpd

